@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;500;600;700&display=swap');
/* 1rem = 1vw = 16px */
body{
    padding:0 ;
    margin: 0;
    width: 100vw;
    font-family: 'Radio Canada', sans-serif;
    font-weight: 400;
}
img{
    position: relative;
    max-width: 100%;
    height: auto;
}
body::-webkit-scrollbar { 
    display: none;
}
/* 
.nav-expand{
    z-index: 1;
    height: 40%;
    transition: 0.5s;
    align-items: flex-start;
} */

.navigator{
    background-color: #db8522;
    width: 100vw;
    /* height: calc(100vw*29/1533); */
    padding-top: calc(100vw*24  /1533);
    z-index: 3;
}

.navbar{
    padding: 0;
}

.navbar-nav a{
    margin-right: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.navbar-toggler{
    width: calc(100vw*55.6/943);
    height: calc(100vw*39.6/943);
    padding: 0;
    line-height: 0;
    border-radius: calc(100vw*5.6/943);
}

.navbar-toggler-icon{
    width: calc(100vw*30/943);
    height: calc(100vw*30/943);
}

.navbar-nav a:last-child{
    margin-right: 0;
}

.container-fluid{
    margin: calc(100vw*16/1100);
    padding: 0;
}

/* 
#navbar-collapse{
    background-color: ;
} */

.info{
    background-image: linear-gradient(to bottom, #F3A248 30%, #8C4002);
    height: auto;
    padding: calc(100vw*139/1533) 0 3.1vw 3.65vw;
}

.left-deco{
    width: 5.68vw;
    height: 5.68vw;
    transform: translateY(-5.9vw);
}

.colorNameNav{
    color: black;
    font-size: 1.6vw;
}

a.colorNameNav:hover{
    color: black;
}

.colorName{
    color: #C73F12 !important;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
}

.profile .title{
    line-height: 5.5vw;
    width: 36.3vw;
    height: auto;
    margin-bottom: 4vw;
}
.profile .title .colorName:first-child{
    font-size: 4.7vw;
}
.profile .title .colorName:last-child{
    font-size: 2.6vw;
}

.profile-container{
    background-color: rgb(250, 241, 233, 0.4);
    border-radius: 0 0 16.6vw 0;
    padding: 4vw 10.6vw 5vw 3vw;
    height: 44.3vw;
    width: 55.42vw;
}

.paragraph p{
    font-size: 1.6vw;
    line-height: 2.45vw;
    white-space: nowrap;
}

.img-container{
    margin-left: 48vw;
    margin-top: 4.5vw;
    background-color: #C76B15;
    width: 44.5vw;
    height: 48.2vw;
    border-radius: 0 0 0 16.6vw;
}

.img-container img:first-child{
    width: 44.5vw;
    height: 48.27vw;
}

.img-container img:last-child{
    width: 5.68vw;
    height: 5.68vw;
    top: -1.57vw;
    right: -1vw;
}

.award{
    color: #F4A249;
    font-size: 80px;
}

.award-container{
    margin: 0 auto !important; 
    max-width: 100%;

}

.award-container img{
    width: 45%;
    height: 50%;
}

.list{
    border-width: 2px !important;
    border-color: #C76B15 !important;
    padding: calc(100vw*48/1533) calc(100vw*64/1533);
    margin: calc(100vw*50/1533) auto calc(100vw*93/1533) !important;
}

.list ul li img{
    width: calc(100vw*25.64/1533);
    height: calc(100vw*56/1533);
    margin-right: calc(100vw*64/1533);
}

.list ul li{
    font-size: calc(100vw*40/1533);
    margin-bottom: calc(100vw*28/1533);
    white-space: nowrap;
    font-weight: 500;
}

.list ul li:last-child{
    margin-bottom: 0;
}

.media-container{
    padding: calc(100vw*96/1533);
    background-color: #F6C48B;
}

.media{
    font-weight: bold;
    font-size: 80px;
    color: #C73F12;
    margin-bottom: calc(100vw*107/1533);
}

.career img{
    width: calc(100vw*667/1533);
    height: calc(100vw*1124/1533);
}

.career > p{
    font-size: 40px;
    font-weight: 600;
    line-height: 3rem;
}

.career div{
    white-space: nowrap;
    font-weight: 500;
    font-size: calc(100vw*40/1533);
    margin-top: calc(100vw*83/1533);
    width: calc(100vw*577/1533);
    height: calc(100vw*644/1533);
}

.project-container{
    height: calc(100vw*1380/1533);
    padding: calc(100vw*96/1533);
}

.project-profile{
    margin-top: calc(100vw*64/1533);
}

.project-profile img{
    width: calc(100vw*540/1533);
    height: calc(100vw*696/1533);
}

.project-profile .paragraph-profile{
    margin-right: calc(100vw*75/1533);
    width: calc(100vw*705/1533);
    height: calc(100vw*768/1533);
    font-size: calc(100vw*40/1533);
    white-space: nowrap;
    line-height: calc(100vw*64/1533);
}

.performance-container{
    background-image: linear-gradient(to bottom, #F3A248 30%, #8C4002);
    height: auto;
    height: calc(100vw*1200/1533);
    padding: calc(100vw*96/1533) calc(100vw*72/1533) calc(100vw*115/1533);
}

.performance-container h1{
    margin-bottom: calc(100vw*75/1533);
}

.music-container .award{
    margin-top: calc(100vw*96/1533);
}

.music-container h4{
    font-size: calc(100vw*40/1533);
    font-weight: 400;
    margin: calc(100vw*16/1533) 0 calc(100vw*72/1533);
}

.wrapper .award{
    margin: calc(100vw*96/1533) 0 calc(100vw*64/1533);
    font-size: calc(100vw*80/1514);
}

.contact{
    max-width: 100%;
    height: calc(100vw*240/1533);
    background-color: #F4A249;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .contact-container{
    width: calc(100vw*284/1533);
    height: calc(100vw*107/1533);
}

.contact .contact-container div:first-child{
    font-size: calc(100vw*36/1533);
    font-weight: 600;
    margin-bottom: calc(100vw*36/1533);
}

.social-media img{
    max-width: 100%;
    height: calc(100vw*32/1533);
    margin-right: calc(100vw*36/1533);
}

.social-media img:last-child{
    margin-right: 0;
}

.carousel{
    white-space: nowrap;
}
.carousel img{
    height: 24em;
    object-fit: cover;
}
.carousel-contact img{
    /* height: calc(100vw*400/1512); */
    object-fit: cover;
    margin-right: calc(100vw*8.6/1533);
}
/* .wrapper i{
    height: 45px;
    width: 46px;
    cursor: pointer;
    font-size: 1.2rem;
    text-align: center;
    line-height: 46px;
    background-color: #fff;
    border-radius: 50%;
} */
.heightbar{
    height: 200px;
}

.item:not(.prev) {visibility: visible;}
.item.right:not(.prev) {visibility: hidden;}
.rightest{ visibility: visible;}

@media screen and (min-width: 768px) {
    .carousel-inner{
        display: flex;
    }
    .carousel-item{
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100%/5);
    }
    .img-wrapper{
        height: 23vw;
    }
}

@media screen and (max-width: 1300px) {
    .d-lrg-none{
        display: none !important;
    }
    .carousel img{
        width: calc(100%/5);
    }
    .carousel-contact img:nth-child(odd){
        display: none;
    }
    .carousel_container ul{
        grid-auto-columns: calc((100% / 4) - 9px) !important;
    }
}

@media screen and (max-width: 1200px) {
    .profile .title{
        margin-bottom: 2vw;
    }
    .career > p{
        font-size: 32px;
        padding: 36px;
    }
    .project-profile > p{
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .d-md-none{
        display: none !important;
    }
    .nav ul li a{
        font-size: 14px;
    } 
    
}

@media screen and (max-width: 1000px) {
    .d-xs-none{
        display: none !important;
    }
    .colorName span{ 
        font-size: 100% !important;
    }
    .carousel img{
        width: calc(100%/3);
    }
    .info div:first-child{
        justify-content: space-between !important;
    }
    
}

@media screen and (max-width: 800px){
    .carousel img{
        width: calc(100%/3);
    }
    
    .award{
        font-size: calc(100vw*60/800);
    }
}

@media screen and (max-width: 700px){
    .carousel-contact img{
        height: calc(100vw*336/1533);
    }
}

@media screen and (max-width: 600px){
    .carousel img{
        width: 100%;
    }
    .nav ul li a{
        font-size: 10px;
        margin-right: 1rem;
    }
    .dot{
        display: none;
    }
    .list{
        width: 100%;
    }
    .media-container .media{
        font-size: calc(100vw*60/800);
    }

    .project-container .award{
        font-size: calc(100vw*40/800);
    }

    .none{
        display: none;
    }

    .i-block{
        display: inline-block;
    }
    .grid{
        justify-content: space-around !important;
    }

    .performance-container .media{
        font-size: calc(100vw*50/800);
    }

    .music-container .award{
        font-size: calc(100vw*60/800);
    }

    .music-container h4{
        font-size: calc(100vw*50/1514);
    }

    .contact .contact-container div:first-child{
        margin-bottom: calc(100vw*10/1533);
    }
}

@media screen and (max-width:300px) {
    .left-deco{
        transform: translateY(-8vw);
    }
}

